<form class="modal fade" id="project-add-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Project</h5>
                <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <!--end of modal head-->
            <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="project-add-details-tab" data-toggle="tab"
                        href="#project-add-details" role="tab" aria-controls="project-add-details"
                        aria-selected="true">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="project-add-members-tab" data-toggle="tab" href="#project-add-members"
                        role="tab" aria-controls="project-add-members" aria-selected="false">Members</a>
                </li>
            </ul>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="project-add-details" role="tabpanel">

                        <h6>General Details</h6>
                        <div class="form-group row align-items-center">
                            <label class="col-3">Name</label>
                            <input [(ngModel)]="formData.name" class="form-control col" type="text"
                                placeholder="Project name" name="project-name" required />
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Description</label>
                            <textarea [(ngModel)]="formData.description" class="form-control col" rows="3"
                                placeholder="Project description" name="project-description"></textarea>
                        </div>

                        <hr>
                        <h6>Timeline</h6>
                        
                        <div class="form-group row align-items-center">
                            <label class="col-3">Due Date</label>
                            <input [(ngModel)]="formData.endingDate" class="form-control col" type="date"
                            name="project-start" placeholder="Select a date" required />
                        </div>
                        <div class="alert alert-warning text-small" role="alert">
                            <span>You can change due dates at any time.</span>
                        </div>
                        <hr>
                        <h5>Public
                            <input [(ngModel)]="!formData.isPrivate" type="checkbox" name="isPrivate" required/>
                        </h5>
                        <h5>Freeze
                            <input [(ngModel)]="formData.isFreee" type="checkbox" name="isPrivate" required/>
                        </h5>

                    </div>

                    <!-- Members -->

                    <div class="tab-pane fade" id="project-add-members" role="tabpanel">
                        <div class="users-manage">


                            <div class="mb-3 dropright">
                                <!-- Avatar List -->
                                <ul class="avatars text-center dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <li>
                                        <img *ngFor="let member of membersAdded" alt="Claire Connors"
                                            [src]="avatars[member.avatar]" class="avatar" data-toggle="tooltip"
                                            data-title="Claire Connors" />
                                    </li>
                                </ul>
                                <div style="width: 250px" class="dropdown-menu">
                                    <div class="my-2" *ngFor="let item of membersAdded">
                                        <img alt="Claire Connors" [src]="avatars[item.avatar]" class="avatar mr-2" />
                                        <span class="h6 mb-0"> {{item.userName}} </span>

                                        <button (click)="userRemoved(item)"
                                            style="width: 90px; font-size: 11.5px; padding: 2px; margin-top: 5px;"
                                            role="button" class="btn btn-outline-danger float-right">Remove</button>
                                    </div>
                                </div>
                            </div>




                            <div class="input-group input-group-round">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">filter_list</i>
                                    </span>
                                </div>
                                <input (ngModelChange)="searchUsers($event)" [(ngModel)]="searchText" name="search"
                                    type="text" class="form-control" autocomplete="off" placeholder="Search ">
                            </div>


                            <div style="margin: 15px 0 0 5px; font-size: 13px;">Search</div>
                            <div class="form-group-users">

                                <div class="my-2" *ngFor="let item of searchData">
                                    <img alt="Claire Connors" [src]="avatars[item.avatar]" class="avatar mr-2" />
                                    <span class="h6 mb-0"> {{item.userName}} </span>
                                    
                                    <button *ngIf="!membersSet.has(item.userName)" (click)="userAdded(item)"
                                        style="width: 90px; font-size: 11.5px; padding: 2px;" role="button"
                                        class="btn btn-outline-primary float-right">Add</button>
                                    <button *ngIf="membersSet.has(item.userName)" (click)="userRemoved(item)"
                                        style="width: 90px; font-size: 11.5px; padding: 2px;" role="button"
                                        class="btn btn-outline-danger float-right">Remove</button>
                                </div>

                            </div>

                            <hr>

                            <div style="margin: 15px 0 0 5px; font-size: 13px;">People you might know</div>
                            <div class="form-group-users">

                                <div  class="my-2" *ngFor="let item of following">
                                    <img alt="Claire Connors" [src]="avatars[item.avatar]" class="avatar mr-2" />
                                    <span class="h6 mb-0"> {{item.userName}} </span>
                                    
                                    <button *ngIf="!membersSet.has(item.userName)" (click)="userAdded(item)"
                                        style="width: 90px; font-size: 11.5px; padding: 2px;" role="button"
                                        class="btn btn-outline-primary float-right">Add</button>
                                    <button *ngIf="membersSet.has(item.userName)" (click)="userRemoved(item)"
                                        style="width: 90px; font-size: 11.5px; padding: 2px;" role="button"
                                        class="btn btn-outline-danger float-right">Remove</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of modal body-->
            <div class="modal-footer">
                <button (click)="createProject()" role="button" class="btn btn-primary" type="submit" data-dismiss="modal">
                    Create Project
                </button>
            </div>
        </div>
    </div>
</form>