<nav *ngIf="!['/auth/signin', '/auth/signup'].includes(currentUrl)">
    <div id="wrapper">

        <h6>
            <img alt="..." class="avatar mr-1" src="../../../assets/images/logo.png" />
            Teams MS
        </h6>

        <div id="userInfo">
            <img alt="..." class="avatar avatar-lg mr-1" [src]="avatars[userData.avatar]" />

            <div style="color: white;">
                {{userData?.userName}}
            </div>

        </div>
        <hr style="width: 40%; margin-bottom: 10px;">

        <ul>
            <a [ngClass]="{'active': currentUrl==='/home'}" href="home">
                <i class="material-icons">
                    bar_chart
                </i>
                <span style="text-align: center;">
                    Dashboard
                </span>
            </a>

            <li data-toggle="modal" data-target="#findUsers">
                <i class="material-icons">
                    search
                </i>
                <span style="text-align: center;">
                    Find User
                </span>
            </li>

            <li data-toggle="modal" data-target="#notificationModel">
                <i class="material-icons">
                    notifications_none
                </i>
                <span style="text-align: center;">
                    Notifications
                    <span class="badge badge-pill badge-danger ml-1"
                        style="padding: 5px;">{{userData.notify?.length}}</span>
                </span>
            </li>


            <a [ngClass]="{'active': currentUrl=== ('/profile/'+userData.userName) }"
                [href]="'profile/'+userData.userName">
                <i class="material-icons">
                    account_circle
                </i>
                <span style="text-align: center; ">
                    Profile
                </span>
            </a>
            <li id="settings">
                <i class="material-icons">
                    settings
                </i>
                <span style="text-align: center;">
                    Settings
                </span>
            </li>

            <hr style="background-color: white; width: 40%; margin-left: 0px;">

            <div id="contactInfo">
                <p>
                    Need Help ? <br />
                    <a href="mailto:jassa.developer@gmail.com">jassa.developer@gmail.com</a>
                </p>
            </div>

            <div (click)="logOut()" id="logOut">LOG OUT</div>

        </ul>

    </div>
</nav>






<!-- Modal -->
<div class="modal fade" id="findUsers" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content container m-2 pt-3">

            <app-search-users [buttonText]="'View Profile'"></app-search-users>
            <div class="mt-3 mb-2 mx-2">
                <div data-dismiss="modal"
                    style="color: white; background-color: red; padding: 4px; border-radius: 7px; cursor: pointer; text-align: center;font-family: 'Nunito', sans-serif;">
                    Close</div>

            </div>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="notificationModel" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">


            <div *ngIf="userData.notify?.length > 0" style="text-align: right;" class="mr-1 p-1">
                <span (click)="deleteNotify()" class="badge badge-pill badge-primary" style="cursor: pointer;">
                    <i style="font-size: 11px;" class="material-icons">
                        check
                    </i>
                    <span style="font-size: 12px;">
                        Seen All
                    </span>
                </span>
            </div>
            <ol class="list-group list-group-activity">
                <li *ngFor="let notif of userData?.notify " class="list-group-item">
                    <div class="media align-items-center">
                        <ul class="avatars">
                            <li>
                                <div class="avatar bg-primary">
                                    <i class="material-icons">{{ materialIcons[notif?.type] }}</i>
                                </div>
                            </li>
                            <!-- <li>
                                <img alt="..." src="..." class="avatar" />
                            </li> -->
                        </ul>
                        <div class="media-body">
                            <div>
                                <span>{{notif.message}}</span>
                            </div>
                            <span class="text-small">{{notif?.timeStamp | timeAgo}}</span>
                        </div>
                    </div>
                </li>
            </ol>

            <div *ngIf="userData.notify?.length === 0" style="text-align: center;padding: 30px;">
                <h3>No Notifications</h3>
                <img style="width: 200px; height: 200px;" src="../../../assets/images/noNotification.svg" alt="...">
                <!-- <div data-dismiss="modal" style="color: white; background-color: red; padding: 5px; border-radius: 7px; cursor: pointer; font-family: 'Nunito', sans-serif;" >Close</div> -->
            </div>

            <div style="text-align: center;padding: 30px;">
                <div data-dismiss="modal"
                    style="color: white; background-color: red; padding: 5px; border-radius: 7px; cursor: pointer; font-family: 'Nunito', sans-serif;">
                    Close</div>
            </div>

        </div>
    </div>
</div>