<ol style="max-height: 60vh; overflow: scroll;" *ngFor="let log of logs" class="list-group list-group-activity">
    <li class="list-group-item">
        <div class="media align-items-center">
            <ul class="avatars">
                <li>
                    <div class="avatar bg-primary">
                        <i class="material-icons">
                            {{ materialIcons[log.type] }}
                        </i>
                    </div>
                </li>
                <!-- <li>
                    <img alt="..." src="..." class="avatar" />
                </li> -->
            </ul>
            <div class="media-body">
                <div>
                    {{log?.message}}
                </div>
                <span class="text-small">{{log?.timeStamp | date: 'short'}}</span>
            </div>
        </div>
    </li>
</ol>
<div style="text-align: center;" *ngIf="logs.length !== 0" >
    <img style="width: 80%; height: 80%;" src="../../../../assets/images/noNotification.svg" alt="">
</div>