<div class="container ">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-xl-12">

            <div class="page-header">
                <h2 style="font-family: 'Bai Jamjuree', sans-serif;">

                    {{projectName}}
                    <button class="btn btn-round float-right">
                        <i class="material-icons">settings</i>
                    </button>
                </h2>
                <p class="lead">{{projectData?.discription}}</p>

            </div>
            <div class="container">
                <div class="row" style="background-color: black; border-radius: 5px; ">
                    <div class="col-4 infoCard">
                        <p>PROJECTS</p>
                        <h1>13</h1>
                    </div>
                    <div class="col-4 infoCard">
                        <p>PERSONAL NOTES</p>
                        <h1>10</h1>
                    </div>
                    <div class="col-4 infoCard">
                        <p>PENDING NOTES</p>
                        <h1>07</h1>
                    </div>
                </div>

            </div>

            <hr>

            <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tasks" role="tab" aria-controls="projects"
                        aria-selected="true">Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#directory" role="tab" aria-controls="members"
                        aria-selected="false">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Logs" role="tab" aria-controls="members"
                        aria-selected="false">Logs</a>
                </li>

            </ul>


            <div class="tab-content ">
                <div class="tab-pane fade show active card" id="tasks" role="tabpanel">

                    <app-project-dir [projectData]="projectData"></app-project-dir>

                </div>
                <!--end of tab-->


                <div class="tab-pane fade" id="directory" role="tabpanel">

                    <app-tasks [projectData]="projectData" [userName]="userData.userName" [role]="role"></app-tasks>

                </div>

                <div class="tab-pane fade" id="Logs" role="tabpanel">

                    <app-logs *ngIf="projectName !== ''" [projectName]='projectName' ></app-logs>

                </div>
            </div>

        </div>
    </div>
</div>