
<div *ngIf="isVisible" id="blur" class="bapp" ></div>
<div *ngIf="isVisible" class="bapp">
    <div style="border-radius: 10px;" class="container">
        <div class="subcontainer">
          <div class="half">
            <div class="droplet"></div>
            <div class="splash">
              <div class="splash-container">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="half">
            <div class="droplet"></div>
            <div class="splash">
              <div class="splash-container">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
  