/* You can add global styles to this file, and also import other style files */
body {
    background-color: #F8F9FA;
}


.cbg-warning {
    background-color: #F4A100;
}

.cbg-primary {
    background-color: #2092ED;
}

.cbg-success {
    background-color: #28A745;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
   }