/* You can add global styles to this file, and also import other style files */
body {
    background-color: #F8F9FA;
}


.cbg-warning {
    background-color: #F4A100;
}

.cbg-primary {
    background-color: #2092ED;
}

.cbg-success {
    background-color: #28A745;
}
