<div class="input-group input-group-round mt-1">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="material-icons">filter_list</i>
        </span>
    </div>
    <input name="search2" type="text" class="form-control" [(ngModel)]="searchText"
        (ngModelChange)="searchUsers($event)" autocomplete="off" placeholder="Search ">
</div>


<div *ngIf="searchData?.length !==0" class="container">
    <div style="margin: 15px 0 0 5px; font-size: 13px;">Search</div>
    <div class="form-group-users">

        <div class="my-2" *ngFor="let item of searchData">
            <img alt="Claire Connors" [src]="avatars[item.avatar]" class="avatar mr-2" />
            <span class="h6 mb-0"> {{item.userName}} </span>

            <a (click)="buttonClicked(item)" style="width: 90px; font-size: 11.5px; padding: 2px;" role="button"
                class="btn btn-outline-primary float-right" [routerLink]="['profile/'+item.userName]" >{{buttonText}}</a>

        </div>

    </div>
</div>

<hr>

<div style="margin: 15px 0 0 5px; font-size: 13px;">People you might know</div>
<div class="form-group-users">

    <div class="my-2" *ngFor="let item of following">
        <img alt="Claire Connors" [src]="avatars[item.avatar]" class="avatar mr-2" />
        <span class="h6 mb-0"> {{item?.userName}} </span>

        <a style="width: 90px; font-size: 11.5px; padding: 2px;" role="button" [routerLink]="['/profile/' + (item.name || item.userName)]"
            class="btn btn-outline-primary float-right" >{{buttonText}}</a>

    </div>

</div>