<div class="container mt-2 ">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li *ngFor="let dir of dirStructure; let index = index" class="breadcrumb-item " (click)="dirJump(index)">
                <span
                    style="font-weight: light; font-size: 13px; cursor: pointer; color: rgb(100, 100, 230) ;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                    {{(dir.fileType === 'dir')? dir.name: (dir.name + dir.fileType)}}
                </span>
            </li>
        </ol>
    </nav>

    <hr class="p-0 my-2">

    <div class="pb-2">
        <button *ngIf="this.dirStructure.length >1" (click)="backDir()" class="btn btn-outline-light btn-sm mx-2">
            <svg style="margin-bottom: 4px;" class="bi bi-arrow-left-short" width="1em" height="1em" viewBox="0 0 16 16"
                fill="black" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M7.854 4.646a.5.5 0 010 .708L5.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H5a.5.5 0 01-.5-.5z"
                    clip-rule="evenodd" />
            </svg>
        </button>
        <span *ngIf="openedDir?.fileType === 'dir'">

            <button style="font-size: 13px; color: black;" type="button" class="btn btn-outline-light btn-sm "
                data-toggle="modal" data-target="#createFile">
                <svg style="margin-bottom: 3px; margin-right: 4px;" class="bi bi-file-code " width="1.3em"
                    height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                        d="M8.646 5.646a.5.5 0 01.708 0l2 2a.5.5 0 010 .708l-2 2a.5.5 0 01-.708-.708L10.293 8 8.646 6.354a.5.5 0 010-.708zm-1.292 0a.5.5 0 00-.708 0l-2 2a.5.5 0 000 .708l2 2a.5.5 0 00.708-.708L5.707 8l1.647-1.646a.5.5 0 000-.708z"
                        clip-rule="evenodd" />
                </svg>
                New File
            </button>
            <button data-toggle="modal" data-target="#newDir" style="font-size: 13px; color: black;" type="button"
                class="btn btn-outline-light btn-sm mx-2 ">
                <svg style="margin-bottom: 3px; margin-right: 4px;" class="bi bi-folder-plus" width="1.3em"
                    height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M9.828 4H2.19a1 1 0 00-.996 1.09l.637 7a1 1 0 00.995.91H9v1H2.826a2 2 0 01-1.991-1.819l-.637-7a1.99 1.99 0 01.342-1.31L.5 3a2 2 0 012-2h3.672a2 2 0 011.414.586l.828.828A2 2 0 009.828 3h3.982a2 2 0 011.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0013.81 4H9.828zm-2.95-1.707L7.587 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 011-.98h3.672a1 1 0 01.707.293z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                        d="M13.5 10a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13v-1.5a.5.5 0 01.5-.5z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M13 12.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z"
                        clip-rule="evenodd" />
                </svg>
                New directory
            </button>
            <button style="font-size: 12.5px; color: black;" type="button"
                class="btn btn-outline-light btn-sm float-lg-right d-none d-lg-block">+ README</button>
            <button style="font-size: 12.5px; color: black;" type="button"
                class="btn btn-outline-light btn-sm mx-2 float-lg-right d-none d-lg-block" data-toggle="modal"
                data-target="#findFile">
                <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                        d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                        clip-rule="evenodd" />
                </svg>
                Search File
            </button>


        </span>


    </div>

    <ul *ngIf="!openedDir?.code" class="list-group my-2  dir-list" style="width: 100%">

        <li class="list-group-item headd">

            <b>Name</b>
            <b class="float-right">Last Update</b>

        </li>


        <img class="p-3" *ngIf="openedDir?.child.length === 0 " height="300px"
            src="../../../../assets/images/directoryEmpty.svg" alt="">

        <li (click)="dirClick(i)" *ngFor="let file of openedDir?.child; let i = index" class="list-group-item "
            style="cursor: pointer;">

            <svg *ngIf="file.fileType !== 'dir'" style="margin-bottom: 3px; margin-right: 3px;" class="bi bi-file-code "
                width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd"
                    d="M8.646 5.646a.5.5 0 01.708 0l2 2a.5.5 0 010 .708l-2 2a.5.5 0 01-.708-.708L10.293 8 8.646 6.354a.5.5 0 010-.708zm-1.292 0a.5.5 0 00-.708 0l-2 2a.5.5 0 000 .708l2 2a.5.5 0 00.708-.708L5.707 8l1.647-1.646a.5.5 0 000-.708z"
                    clip-rule="evenodd" />
            </svg>

            <svg *ngIf="file.fileType === 'dir'" style="margin-bottom: 3px; margin-right: 3px;" class="bi bi-folder"
                width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M9.828 4a3 3 0 01-2.12-.879l-.83-.828A1 1 0 006.173 2H2.5a1 1 0 00-1 .981L1.546 4h-1L.5 3a2 2 0 012-2h3.672a2 2 0 011.414.586l.828.828A2 2 0 009.828 3v1z" />
                <path fill-rule="evenodd"
                    d="M13.81 4H2.19a1 1 0 00-.996 1.09l.637 7a1 1 0 00.995.91h10.348a1 1 0 00.995-.91l.637-7A1 1 0 0013.81 4zM2.19 3A2 2 0 00.198 5.181l.637 7A2 2 0 002.826 14h10.348a2 2 0 001.991-1.819l.637-7A2 2 0 0013.81 3H2.19z"
                    clip-rule="evenodd" />
            </svg>

            <span class="file-name">
                {{ (file.fileType !== 'dir')? file.name + file.fileType : file.name+''}}
            </span>

        </li>
    </ul>

    <button *ngIf="openedDir?.fileType !== 'dir'" (click)="copyCode($event)" style="font-size: 12.5px;  position:sticky; top: 10px;"
        type="button" class="btn btn-outline-dark btn-sm mx-2 float-lg-right ">
        Copy Code
    </button>
    <pre id="foo" *ngIf="openedDir?.fileType !== 'dir'" class="code p-1 py-3" >
    <span *ngFor="let line of openedDir?.code" class="tr first-row"><span class="th p-0"></span><code>{{line}}</code></span>
    </pre>

    <div *ngIf="dirStructure.length === 1" class="alert alert-primary card" role="alert">
        <span class="py-2">
            Help people interested in this repository understand your project by adding a README.
        </span>

        <span>
            <button type="button" class="btn btn-primary btn-sm">+ READ ME</button>
        </span>
    </div>

    <app-create-file-model (createFile)="createDir($event)">
    </app-create-file-model>



    <!-- Modal -->
    <div class="modal fade" id="newDir" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <input class="form-control" [(ngModel)]="newDirName" name="dirName" type="text" maxlength="20"
                        minlength="1" placeholder="Folder Name">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button (click)="createDir({fileName: newDirName, fileType: 'dir', codeText: ''})" type="button"
                        class="btn btn-primary" data-dismiss="modal">Create Folder</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- /get/find/:name/:searchText -->



<!-- Modal -->
<div class="modal fade" id="findFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content container m-2">




            <div class="input-group input-group-round mt-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="material-icons">filter_list</i>
                    </span>
                </div>
                <input name="search3" type="text" class="form-control" [(ngModel)]="searchText"
                    (ngModelChange)="searchUsers($event)" autocomplete="off" placeholder="Search ">
            </div>


            <div class="container">
                <div style="margin: 15px 0 0 5px; font-size: 13px;">Search</div>
                <div class="form-group-users">

                    <ul class="list-group my-2  dir-list" style="width: 100%">

                        <li class="list-group-item headd">

                            <b>Name</b>

                        </li>


                        <img class="p-3" *ngIf="searchDirStructure.length === 0 " height="300px"
                            src="../../../../assets/images/directoryEmpty.svg" alt="">

                        <li (click)="dirClick(i, true)" *ngFor="let file of searchDirStructure; let i = index"
                            class="list-group-item " style="cursor: pointer;" data-dismiss="modal">

                            <svg *ngIf="file.fileType !== 'dir'" style="margin-bottom: 3px; margin-right: 3px;"
                                class="bi bi-file-code " width="1.3em" height="1.3em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z"
                                    clip-rule="evenodd" />
                                <path fill-rule="evenodd"
                                    d="M8.646 5.646a.5.5 0 01.708 0l2 2a.5.5 0 010 .708l-2 2a.5.5 0 01-.708-.708L10.293 8 8.646 6.354a.5.5 0 010-.708zm-1.292 0a.5.5 0 00-.708 0l-2 2a.5.5 0 000 .708l2 2a.5.5 0 00.708-.708L5.707 8l1.647-1.646a.5.5 0 000-.708z"
                                    clip-rule="evenodd" />
                            </svg>

                            <svg *ngIf="file.fileType === 'dir'" style="margin-bottom: 3px; margin-right: 3px;"
                                class="bi bi-folder" width="1.3em" height="1.3em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.828 4a3 3 0 01-2.12-.879l-.83-.828A1 1 0 006.173 2H2.5a1 1 0 00-1 .981L1.546 4h-1L.5 3a2 2 0 012-2h3.672a2 2 0 011.414.586l.828.828A2 2 0 009.828 3v1z" />
                                <path fill-rule="evenodd"
                                    d="M13.81 4H2.19a1 1 0 00-.996 1.09l.637 7a1 1 0 00.995.91h10.348a1 1 0 00.995-.91l.637-7A1 1 0 0013.81 4zM2.19 3A2 2 0 00.198 5.181l.637 7A2 2 0 002.826 14h10.348a2 2 0 001.991-1.819l.637-7A2 2 0 0013.81 3H2.19z"
                                    clip-rule="evenodd" />
                            </svg>

                            <span class="file-name">
                                {{ (file.fileType !== 'dir')? file.name + file.fileType : file.name+''}}
                            </span>

                        </li>
                    </ul>

                </div>
            </div>

            <div class="my-2">
                <button type="button" style="width: 90px; font-size: 11.5px; padding: 2px;"
                    class="btn btn-outline-danger float-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>