<div id="main-app-wrapper">

    <app-navbar [isVisible]='navVisible'></app-navbar>

    <div id="router-wrapper">
        <button (click)="toggleNav()" id="nav-toggle-button" class="btn btn-round ">
            <span class="material-icons">
                menu
            </span>
        </button>

        <router-outlet></router-outlet>
    </div>

</div>

<app-loading></app-loading>

<div>
    <app-footer></app-footer>
</div>

<!-- Button trigger modal -->
<a type="button" id="supportedBtn" class="btn btn-primary" data-toggle="modal" data-target="#supported">
</a>

<!-- Modal -->
<div class="modal fade" id="supported" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Oops, Teams MS is comming on Mobile devices soon. 
            </div>
        </div>
    </div>
</div>