<div class="row content-list-head">
    <div class="col-auto">
        <h3>Projects</h3>
        <button class="btn btn-round" data-toggle="modal" data-target="#project-add-modal">
            <i class="material-icons">add</i>
        </button>
    </div>

    <form class="col-md-auto">
        <div class="input-group input-group-round">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">filter_list</i>
                </span>
            </div>
            <input type="search" class="form-control filter-list-input" placeholder="Filter projects"
                aria-label="Filter Projects">
        </div>
    </form>

</div>

<div class=" content-list-body row">
    <div class="col-lg-6" *ngFor="let item of tableData; let i = index;">
        <app-project-table-row [index]="i" [projectData]="item" [userName]="userName"
            (OnshowMembers)="setMembersModelData($event)">
        </app-project-table-row>
    </div>
    
    
</div>
<div *ngIf="tableData?.length === 0" class="col-12" style="text-align: center; margin-top: 20px " >
    <img style="width: 30%; height: 30%; " src="../../../../assets/images/noProject.svg" alt="..">
    <div class="mt-4">
        <button class="btn btn-primary" style="width: 50%;" data-toggle="modal" data-target="#project-add-modal" > + Create Project</button>
    </div>
</div>

<div class="modal fade " id="projectMembers" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <app-users-list-big [members]='membersModelData'></app-users-list-big>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>